<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" #fname>
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" #lname>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" #email>
                </div>
                <div class="form-group">
                    <label for="contact">Contact</label>
                    <input type="text" class="form-control" #contact>
                </div>
                <div class="text-right">
                    <button class="btn btn-outline-primary"
                    (click)="onStudentBtn()"
                    >Add Student</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered table-striped table-responsive"
        *ngIf="stdArray.length > 0; else stdMsg"
        >
            <thead>
                <th>Sr.No.</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Contact</th>
            </thead>
            <tbody>
                <tr 
                *ngFor="let std of stdArray; let i = index"
                >
                    <td>{{i + 1}}</td>
                    <td>{{std.fname}}</td>
                    <td>{{std.lname}}</td>
                    <td>{{std.email}}</td>
                    <td>{{std.contact}}</td>
                </tr>
            </tbody>
        </table>

        <ng-template #stdMsg>
            <p class="alert alert-danger">
                No Student Data Added Yet !!!
            </p>
        </ng-template>
    </div>
</div>
